@px2rem : 1 / 54rem;
@paddingHor : {
    padding-left: 20 * @px2rem;
    padding-right: 20 * @px2rem;
}
.PostDetailView {
    position: relative;
    .post-box {
        @paddingHor();
        padding-top: 20 * @px2rem;
        .avatar-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .left {
                .avatar-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .avatar {
                        width: 70 * @px2rem;
                        height: 70 * @px2rem;
                        border-radius: 50%;
                        margin-right: 13 * @px2rem;
                    }
                }
            }
            .right {
                .comment-button {
                    background-color: rgb(254, 203, 23);
                    color: black;
                    padding: 10 * @px2rem 30 * @px2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30 *  @px2rem;
                }
            }
        }
        .content {
            margin-top: 10 * @px2rem;
        }
        padding-bottom: 30 * @px2rem;
        border-bottom: 2 * @px2rem black solid;
    }
    .comment-box {
        margin-top: 20 * @px2rem;
        @paddingHor();
        .comment {
            display: flex;
            flex-direction: row;
            justify-content: start;
            width: 100%;
            box-sizing: border-box;
            .avatar-box {
                flex:  0 0 auto;
                margin-right: 12 * @px2rem;
                .avatar {
                    width: 60 * @px2rem;
                    height: 60 * @px2rem;
                }
            }
            .content {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                .top {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 10 * @px2rem;
                    .reply {
                        padding: 4 * @px2rem 7 * @px2rem;
                        background-color: rgb(255, 201, 20);
                    }
                }
                .bottom {

                }
            }
            margin-bottom: 15 * @px2rem;
        }
    }

    .input-box {
        position: fixed;
        bottom: 120px;
        right: 0;
        width: 100%;
        z-index: 101;
        input {
            height: 60px;
            width: 100%;
            border: 1px solid black;
            box-sizing: border-box;
            padding-left: 10px;
        }
    }
    .rua-box {
        background-color: #ffffff;
        position: relative;
        .rua {
            width: 100%;
            box-sizing: border-box;
            position: absolute;
            border-top: #000 2 * @px2rem solid
        }
        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 16px;
            .box {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .span {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
            }
            .span:nth-of-type(1) {
                height: 80px;
                width: 60px;
                font-size: 60px;

            }
            .span:nth-of-type(2) {
                height: 100%;
            }
            .button {
                height: 60px;
                padding: 0 10px;
                box-sizing: border-box;
                background-color: rgb(254, 204, 24);
                color: #010101;
            }
        }
    }

}
